<!DOCTYPE HTML>
<!--
	Horizons by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="google-site-verification" content="PwUpgZGXrao4y7MkvykH31PqvqPB2N4k2Widjo2EU3o" />
		<meta name="keywords" content="" />

		<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel-layers.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/init.js"></script>
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style-mobile.css" media="(max-width: 640px)">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style-narrow.css" media="(max-width: 980px)">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style-narrower.css" media="(max-width: 840px)">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style-normal.css" media="(max-width: 1280px)">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style-wide.css" media="(max-width: 1680px)">

		<noscript>
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/skel.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie/v8.css" /><![endif]-->
	</head>
	<body>
	{{ content }}
		<!-- Footer -->
			<div id="footer">
				<div class="container">

					<!-- Lists -->
						<div class="row">
							<div class="8u">
								<section>
									<header class="major">
										<h2>Tudan电子商务有限公司</h2>
										<span class="byline">专注互联网出海业务</span>
									</header>
									<div class="row">
										<section class="6u">
											<ul class="default">
												<li><a href="/302.html?target=https://tggsearch.github.io">软件技术教程网</a></li>
												<li><a href="/302.html?target=https://muskcoins.github.io">币圈知识教程网</a></li>
												<li><a href="/302.html?target=https://tggsearch.shop">账号共享售卖平台</a></li>
											</ul>
										</section>
										<!-- <section class="6u">
											<ul class="default">
												<li><a href="#">Pellentesque elit non gravida blandit.</a></li>
												<li><a href="#">Lorem ipsum dolor consectetuer elit.</a></li>
												<li><a href="#">Phasellus nibh pellentesque congue.</a></li>
												<li><a href="#">Cras vitae metus aliquam  pharetra.</a></li>
											</ul>
										</section> -->
									</div>
								</section>
							</div>
							<div class="4u">
								<section>
									<header class="major">
										<h2>公司信息</h2>
										<span class="byline">海外资深多年平台</span>
									</header>
									<ul class="contact">
										<!-- <li>
											<span class="address">地址</span>
											<span> <br /></span>
										</li> -->
										<li>
											<span class="mail">邮箱</span>
											<span><a href="#">huangdh3@gmail.com</a></span>
										</li>
										<li>
											<span class="phone">QQ</span>
											<span>3865967803</span>
										</li>
									</ul>
								</section>
							</div>
						</div>

					<!-- Copyright -->
						<div class="copyright">
							<!-- Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
							Jekyll Template: <a href="http://cloudcannon.com">Cloud Cannon</a> -->
						</div>

				</div>
			</div>
	</body>
	<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="6c8a85ee-0110-481c-bae6-777e7b2dbb1f";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</html>