---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="#" id="logo">{{ page.title }}</a></h1>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>TRX 中文网</h2>
										<span class="byline">这里提供最齐全的 TRX 中文教程，我们将为你提供各种兑换服务和教程，同时也教你如何自我进行购买兑换</span>
									</header>
									<a href="/2024/12/09/trx-exchange.html" class="button alt">TRX 兑换</a>
								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">
				<section class="container">
					<header class="major">
						<h2>TRX 常用教程</h2>
						<span class="byline">快速的了解并掌握 TRX</span>
					</header>
					<div class="row no-collapse-1">
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/trx-is.jpg" alt=""></a>
							<p>TRX 是什么？为什么这么多人需要 TRX？</p>
						</section>
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/wechat-alipay-small.jpg" alt=""></a>
							<p>如何通过微信支付宝购买 TRX</p>
						</section>
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/trx-price.jpg" alt=""></a>
							<p>TRX 价格是怎么样的？与人民币有关系吗？他们的汇率是多少？</p>
						</section>

					</div>
				</section>
			</div>

	{{ content }}